@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #111;
  --background: #f9fafb;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}
